body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:103px;
  background:inherit;
  background-color:rgba(112, 182, 3, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:272px;
  width:190px;
  height:103px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:127px;
  width:140px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:462px;
  width:140px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:162px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:10px;
  height:172px;
}
#u119_seg2 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:157px;
  width:15px;
  height:10px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:73px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:497px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-178px;
  width:10px;
  height:183px;
}
#u120_seg2 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-178px;
  width:15px;
  height:10px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-94px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:52px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:112px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:172px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:232px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:162px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-95px;
  width:10px;
  height:100px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-95px;
  width:15px;
  height:10px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-53px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:162px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-35px;
  width:10px;
  height:40px;
}
#u126_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-35px;
  width:15px;
  height:10px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:162px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:40px;
}
#u127_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:25px;
  width:15px;
  height:10px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:162px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:100px;
}
#u128_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:85px;
  width:15px;
  height:10px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:132px;
  width:140px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:87px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:147px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:207px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:72px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:105px;
}
#u133_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:90px;
  width:15px;
  height:10px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:132px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:45px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:30px;
  width:15px;
  height:10px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:192px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-30px;
  width:10px;
  height:35px;
}
#u135_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-30px;
  width:15px;
  height:10px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:252px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-90px;
  width:10px;
  height:95px;
}
#u136_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-90px;
  width:15px;
  height:10px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u137_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u137_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:10px;
  height:70px;
}
#u137_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:15px;
  height:10px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:25px;
  height:10px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:70px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:55px;
  width:15px;
  height:10px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:417px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:477px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:537px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:400px;
  width:140px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:520px;
  width:140px;
  height:70px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:355px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:400px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:445px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:510px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:555px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:600px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:497px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:10px;
  height:70px;
}
#u151_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:15px;
  height:10px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:497px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:25px;
  height:10px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:497px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:70px;
}
#u153_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:55px;
  width:15px;
  height:10px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:437px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:60px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:557px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-85px;
  width:10px;
  height:90px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:497px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:10px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:497px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-27px;
  width:10px;
  height:32px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:497px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-5px;
  width:10px;
  height:28px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:435px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u159_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:10px;
  height:70px;
}
#u159_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-65px;
  width:15px;
  height:10px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:435px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-20px;
  width:10px;
  height:25px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-20px;
  width:15px;
  height:10px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:435px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:40px;
}
#u161_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:25px;
  width:15px;
  height:10px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:555px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-30px;
  width:10px;
  height:35px;
}
#u162_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-30px;
  width:15px;
  height:10px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:555px;
  width:0px;
  height:0px;
}
#u163_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u163_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:30px;
}
#u163_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:15px;
  width:15px;
  height:10px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:555px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u164_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:75px;
}
#u164_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:60px;
  width:15px;
  height:10px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
