body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1364px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:67px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:67px;
  display:flex;
}
#u1365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:210px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4B7902;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1367_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4B7902;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:25px;
  width:90px;
  height:33px;
  display:flex;
  font-size:16px;
  color:#4B7902;
}
#u1367 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1367_img.disabled {
}
#u1367.disabled {
}
.u1367_input_option {
  font-size:16px;
  color:#4B7902;
}
#u1368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1368_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:32px;
  width:90px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1368.disabled {
}
#u1369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1369_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:25px;
  width:90px;
  height:33px;
  display:flex;
  font-size:16px;
}
#u1369 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1369_img.disabled {
}
#u1369.disabled {
}
.u1369_input_option {
  font-size:16px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(149, 242, 4, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:28px;
  width:160px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_img.mouseOver {
}
#u1372.mouseOver {
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:84px;
  width:1198px;
  height:696px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:100px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:155px;
  width:1086px;
  height:512px;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:79px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:79px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:79px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:868px;
  height:79px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:218px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:36px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:79px;
  width:868px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:218px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:40px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:115px;
  width:868px;
  height:40px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:43px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:218px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:43px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:155px;
  width:868px;
  height:43px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:218px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:36px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:198px;
  width:868px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:52px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:218px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:52px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:234px;
  width:868px;
  height:52px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:286px;
  width:868px;
  height:29px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:315px;
  width:868px;
  height:29px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:344px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:344px;
  width:868px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:373px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:373px;
  width:868px;
  height:29px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:402px;
  width:868px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:52px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:218px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:52px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:431px;
  width:868px;
  height:52px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:29px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:483px;
  width:218px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:29px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:483px;
  width:868px;
  height:29px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u1401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:165px;
  width:65px;
  height:65px;
  display:flex;
  font-size:17px;
}
#u1402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:718px;
  width:172px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:718px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:718px;
  width:190px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
