body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1330px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:67px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:67px;
  display:flex;
}
#u979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 7px rgba(0, 0, 0, 0.349019607843137);
}
#u980 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:84px;
  width:920px;
  height:406px;
  display:flex;
}
#u980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:100px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:210px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u983_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:25px;
  width:90px;
  height:33px;
  display:flex;
  font-size:16px;
}
#u983 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u983_img.disabled {
}
#u983.disabled {
}
.u983_input_option {
  font-size:16px;
}
#u984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u984_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:32px;
  width:90px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u984_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u984.disabled {
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4B7902;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u985_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4B7902;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:25px;
  width:90px;
  height:33px;
  display:flex;
  font-size:16px;
  color:#4B7902;
}
#u985 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u985_img.disabled {
}
#u985.disabled {
}
.u985_input_option {
  font-size:16px;
  color:#4B7902;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(149, 242, 4, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:28px;
  width:160px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:36px;
  width:14px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u988_img.mouseOver {
}
#u988.mouseOver {
}
#u988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:170px;
  width:733px;
  height:172px;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:134px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:133px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:46px;
  display:flex;
  font-size:31px;
  text-align:left;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:30px;
  width:134px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:46px;
  display:flex;
}
#u999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:46px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:46px;
  display:flex;
}
#u1001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:46px;
  display:flex;
}
#u1002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:133px;
  height:46px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u1003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:66px;
  height:32px;
  display:flex;
  font-size:31px;
  text-align:left;
}
#u1006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:76px;
  width:134px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:76px;
  width:100px;
  height:32px;
  display:flex;
}
#u1008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:76px;
  width:100px;
  height:32px;
  display:flex;
}
#u1009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:76px;
  width:100px;
  height:32px;
  display:flex;
}
#u1010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:76px;
  width:100px;
  height:32px;
  display:flex;
}
#u1011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:76px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u1012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:66px;
  height:32px;
  display:flex;
  font-size:31px;
  text-align:left;
}
#u1015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:108px;
  width:134px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:108px;
  width:100px;
  height:32px;
  display:flex;
}
#u1017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:108px;
  width:100px;
  height:32px;
  display:flex;
}
#u1018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:108px;
  width:100px;
  height:32px;
  display:flex;
}
#u1019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:108px;
  width:100px;
  height:32px;
  display:flex;
}
#u1020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:108px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u1021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:66px;
  height:32px;
  display:flex;
  font-size:31px;
  text-align:left;
}
#u1024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:140px;
  width:134px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:32px;
  display:flex;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:140px;
  width:100px;
  height:32px;
  display:flex;
}
#u1027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:140px;
  width:100px;
  height:32px;
  display:flex;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:140px;
  width:100px;
  height:32px;
  display:flex;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:140px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033 label {
  left:0px;
  width:100%;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:224px;
  width:20px;
  height:36px;
  display:flex;
  font-size:31px;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1033_img.selected {
}
#u1033.selected {
}
#u1033_img.disabled {
}
#u1033.disabled {
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1033_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1034 label {
  left:0px;
  width:100%;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:260px;
  width:20px;
  height:36px;
  display:flex;
  font-size:31px;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1034_img.selected {
}
#u1034.selected {
}
#u1034_img.disabled {
}
#u1034.disabled {
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1034_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1035 label {
  left:0px;
  width:100%;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:293px;
  width:20px;
  height:36px;
  display:flex;
  font-size:31px;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1035_img.selected {
}
#u1035.selected {
}
#u1035_img.disabled {
}
#u1035.disabled {
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1035_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1036 label {
  left:0px;
  width:100%;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:320px;
  width:20px;
  height:36px;
  display:flex;
  font-size:31px;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1036_img.selected {
}
#u1036.selected {
}
#u1036_img.disabled {
}
#u1036.disabled {
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1036_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
  background:inherit;
  background-color:rgba(191, 191, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:393px;
  width:66px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
  background:inherit;
  background-color:rgba(191, 191, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:393px;
  width:66px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
  background:inherit;
  background-color:rgba(191, 191, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:393px;
  width:66px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
